/* body of app */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the app in the middle of the screen */
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Container for the app */
.container {
    width: 100%;
    max-width: 600px;
    min-height: 475px;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Container for about page */
.about-container {
    padding: 0 15px; /* Adds 15px padding to the left and right */
    box-sizing: border-box; /* Ensures padding is included in the element's total width */
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.navbar {
    width: 100%;
    background-color: #004085;
    overflow: hidden;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar-item {
    padding: 14px 20px;
}

.navbar-item a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}

.navbar-item a:hover {
    background-color: #ddd;
    color: black;
}

/* Styling for headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}
.app-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #eee;
}
.question-word {
    color: #0056b3;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

/* Accessibility improvements */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    outline: none;
}

/* Styling for paragraphs */
p {
    margin-bottom: 5px;
}

/* Styling for the form that contains the question and the answer buttons */
form {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for buttons */
button {
    width: 70%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Space between buttons */
}

button:hover {
    background-color: #0056b3;
    outline: none;
}
/* Styling for the scoreboard */
.scoreboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/* Styling for flash messages */
.flash-message {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 0px; 
}

/* Success messages */
.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Encouragement messages */
.flash-message.encouragement {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

/* Accomplishment messages */
.flash-message.accomplishment {
    background-color: #cce5ff;
    color: #004085;
    border: 1px solid #b8daff;
}

/* Completion messages */   
.flash-message.completion {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

/* Wrong answer messages */
.flash-message.danger {
    background-color: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        height: auto; /* Adjust height for smaller screens */
        padding: 15px;
    }
}