<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tajik Vocabulary Quiz{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <nav class="navbar">
            <h1 class="app-title">Tajik Vocabulary Quiz</h1>
            <ul class="navbar-list">
                <li class="navbar-item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="navbar-item"><a href="{{ url_for('tajik_vocab') }}">Vocab Quiz</a></li>
                <li class="navbar-item"><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>

    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Tajik Vocabulary Quiz</p>
    </footer>
</body>

</html>