<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tajik Vocabulary Quiz{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Tajik Vocabulary Quiz</h1>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2023 Tajik Vocabulary Quiz</p>
    </footer>
</body>

</html>